.container {
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .has-text-danger {
    color: red;
  }
  
  .button.is-primary {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1065px; 
  }
  
  .columns.is-multiline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }  

  .column.is-one-third {
    padding: 1rem; 
  }
  
  .box {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .subtitle {
    font-size: 1.5rem;
  }
  
  .buttons.is-centered {
    justify-content: center; /* Centrar los botones */
  }
  